body {
    background-color: #243D4C;
    color : #FBC953;
    margin: 1rem;
}

h1 {
    color: #FC7F3A;
    text-align: center;
}

.chart rect{
    fill: #599B87;
}

.chart text{
    fill: whitesmoke;
    font-style:sans-serif;
    font-size: .8rem;
    text-anchor: end;
}



